<!doctype html>
<meta name='referrer' content='no-referrer' />
<script>
  window.top.document.dispatchEvent(new CustomEvent('signatureFromIFrame', {detail:{signature: '___SHA256___'}}));
</script>
<body style='margin:0px;padding:0px'> 
  <h3>This content is within the IFRAME</h3>
  Custom text inside the IFRAME.
  <pre>Version: ___SHA256___</pre>
</body>
